<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Password Reset Request</h1>
    <p>Hello <%= @user.name %>,</p>
    <p>
      We received a request to reset your password. Click the link below to reset it:
    </p>
    <p>
      <a href="<%= @reset_url %>">Reset Password</a>
    </p>
    <p>
      Or copy and paste this URL into your browser:<br>
      <%= @reset_url %>
    </p>
    <p>
      If you didn't request this, please ignore this email. Your password won't be changed.
    </p>
    <p>This link will expire in 2 hours.</p>
  </body>
</html>